.main-header .navbar-toggler {
    background-color: inherit;
    border-width: 0;
}

.main-header .navbar-toggler:hover {
    box-shadow: none;
}

.main-header {
    width: auto;
}

.main-header > div {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

